/* Base Styles*/
body {
    height: 100vh;
    background-color: $white;
    background-image: url("../../images/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    }
/*Base typography*/
h1,h2,h3,h4,h5,h6 {
    font-family: $roboto;
    font-weight: $regular; 
    font-size: $medium; 
}
