//Color Scheme

//First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$gray: #D1D1D1;

//Second Color Scheme
$fuzzy: #E56353;
$ruddy: #D76C69;
$spanish: #ECBCBA;

//Third Color Scheme
$eerie: #121619;
$raisin: #222323;
$nickel: #6C6E70;

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Tipography
// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

//Font Size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

